In [1]:
import pandas as pd

**Opening CSV File**

In [3]:
data = pd.read_csv('/content/aug_train.csv')

In [ ]:
data

**Opening a CSV file from an URL**

In [ ]:
import requests
from io import StringIO

url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
headers = {"User-Agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

pd.read_csv(data)

**Step Parameter**

In [ ]:
#pd.read_csv('' , sep = '\t')

**Index col parameter**

In [ ]:
pd.read_csv('/content/aug_train.csv', index_col = 'enrollee_id')
#it drop index col

**Header parameter**

In [ ]:
pd.read_csv('/content/aug_train.csv', header= 0)

**Use Cols Parameter**

In [ ]:
pd.read_csv('/content/aug_train.csv', usecols= ['enrollee_id', 'gender', 'education_level'])

**Squeeze parameter**

In [ ]:
pd.read_csv('/content/aug_train.csv', usecols=['gender'], squeeze=True)

**Skip rows**

In [ ]:
pd.read_csv('/content/aug_train.csv', skiprows =(0,5))

**Nrows parameter**

In [ ]:
pd.read_csv('/content/aug_train.csv', nrows= 5)

**Encoding Parameter**

In [ ]:
pd.read_csv('zomato.csv', encoding='latin-1')

**Skip Bad Lines**

In [ ]:
pd.read_csv('/content/aug_train.csv', sep = ',' ,encoding = "latin-1", error_bad_lines=False)

**dtypes parameter**

In [ ]:
pd.read_csv('/content/aug_train.csv', dtype={'target':int})

**Handing Dates**

In [35]:
#pd.read_csv('url', parse_dates =['colName'])
#change in date format

**Convertors**

In [44]:
def rename(name):
  if name == "Royal Challengers Bangalore":
      return "RCB"
  if name == "Chennai Super Kings":
      return "CSK"
  if name == "Kolkata Knight Riders":
      return "KKR"
  if name == "Delhi Daredevils":
      return "DC"
  if name == "Delhi Capitals":
      return "DC"
  if name == "Mumbai Indians":
      return "MI"
  if name == "Rajasthan Royals":
      return "RR"
  if name == "Deccan Chargers":
      return "SRH"
  if name == "Sunrisers Hyderabad":
      return "SRH"
  if name == "Kings XI Punjab":
      return "KXIP"
  else:
      return name

In [45]:
rename("Mumbai Indians")

'MI'

In [49]:
n

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,RCB,KKR,RCB,field,KKR,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,KXIP,CSK,CSK,bat,CSK,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,DC,RR,RR,bat,DC,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,MI,RCB,MI,bat,RCB,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,KKR,SRH,SRH,bat,KKR,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,RCB,MI,MI,field,RCB,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,MI,DC,DC,field,MI,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,RCB,SRH,SRH,field,SRH,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,DC,SRH,DC,bat,DC,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,DC,MI,DC,bat,MI,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon