**Importing Library and Intro to sum basic functions**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dic1 = {
    "name":['vikas', 'sanchi', 'tushi', 'adi'],
    "marks":[23,64,24,22],
    "city":['amritsar','varanasi','ranchi','tirupati']
}

In [ ]:
df = pd.DataFrame(dic1)

In [ ]:
df

     name  marks      city
0   vikas     23  amritsar
1  sanchi     64  varanasi
2   tushi     24    ranchi
3     adi     22  tirupati

**DataFrame to CSV**

In [ ]:
df.to_csv('data.csv')

**Deleting Index in csv file**

In [ ]:
df.to_csv('data2.csv', index = False)

**Showing first and last two rows**

In [ ]:
df.head(2)

     name  marks      city
0   vikas     23  amritsar
1  sanchi     64  varanasi

In [ ]:
df.tail(2)

    name  marks      city
2  tushi     24    ranchi
3    adi     22  tirupati

**Calculate Mean, Avg & other**

In [ ]:
df.describe()

           marks
count   4.000000
mean   33.250000
std    20.516254
min    22.000000
25%    22.750000
50%    23.500000
75%    34.000000
max    64.000000

**Reading CSV file**

Name = pd.read_csv('file name or path')

In [ ]:
vikas = pd.read_csv('/content/vikas.csv')

In [ ]:
vikas

        no  stations      city
0  1245432        23  amritsar
1  2387654        64  varanasi
2  9876987        24    ranchi
3  6587654        22  tirupati

**Changing values in datasets**

In [ ]:
vikas['no'][0] = 20202020

<ipython-input-73-bc8f7c081155>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vikas['no'][0] = 20202020

In [ ]:
vikas

         no  stations      city
0  20202020        23  amritsar
1   2387654        64  varanasi
2   9876987        24    ranchi
3   6587654        22  tirupati

**Changing the whole column**

In [ ]:
vikas.index = ['first', 'second', 'third', 'fourth']

In [ ]:
vikas

              no  stations      city
first   20202020        23  amritsar
second   2387654        64  varanasi
third    9876987        24    ranchi
fourth   6587654        22  tirupati

**Series in pandas**

In [ ]:
ser = pd.Series(np.random.rand(30))

In [ ]:
ser

0     0.512938
1     0.480281
2     0.678866
3     0.138686
4     0.549760
5     0.881355
6     0.770283
7     0.384070
8     0.809448
9     0.653572
10    0.127836
11    0.270784
12    0.932130
13    0.228413
14    0.580254
15    0.270864
16    0.078463
17    0.039886
18    0.226985
19    0.665095
20    0.004776
21    0.268147
22    0.959304
23    0.183319
24    0.190792
25    0.673745
26    0.899354
27    0.057911
28    0.709154
29    0.338156
dtype: float64

In [ ]:
type(ser)

pandas.core.series.Series

**DataFrame in Pandas**

In [ ]:
newdf = pd.DataFrame(np.random.rand(50, 5), index=np.arange(50))

In [ ]:
newdf

           0         1         2         3         4
0   0.602055  0.349280  0.322755  0.233318  0.122134
1   0.499786  0.692622  0.542448  0.236612  0.344200
2   0.261675  0.204716  0.988781  0.718397  0.891178
3   0.929400  0.302532  0.688212  0.481383  0.985777
4   0.614021  0.102859  0.856712  0.326055  0.598970
5   0.636122  0.113705  0.703182  0.110449  0.184796
6   0.329415  0.868758  0.237733  0.091194  0.226218
7   0.013131  0.185728  0.347142  0.571539  0.887301
8   0.257945  0.760605  0.923525  0.511861  0.189607
9   0.839399  0.274805  0.914607  0.183615  0.591766
10  0.817523  0.022698  0.301787  0.183912  0.436639
11  0.957527  0.224739  0.066018  0.519596  0.845675
12  0.231670  0.452016  0.128752  0.888511  0.188786
13  0.423121  0.450347  0.474601  0.993385  0.511630
14  0.660380  0.972839  0.760968  0.310470  0.413532
15  0.236465  0.951746  0.545661  0.605512  0.615079
16  0.683111  0.767687  0.414623  0.406014  0.140977
17  0.639431  0.639718  0.078260  0.327897  0.022377
18  0.086594  0.981985  0.660445  0.268601  0.144296
19  0.591306  0.052608  0.575042  0.119640  0.163095
20  0.358977  0.073111  0.821762  0.230403  0.334674
21  0.178126  0.812612  0.586651  0.125986  0.298773
22  0.661142  0.457265  0.997457  0.826784  0.991072
23  0.225406  0.436283  0.827311  0.846330  0.078660
24  0.277980  0.153985  0.014377  0.209290  0.599839
25  0.568684  0.667100  0.393615  0.400931  0.600762
26  0.572677  0.789517  0.309449  0.849358  0.347762
27  0.103416  0.452213  0.135028  0.718922  0.069425
28  0.057100  0.171709  0.307932  0.023420  0.468312
29  0.118487  0.984593  0.077263  0.773867  0.007342
30  0.349734  0.832366  0.231179  0.927292  0.373939
31  0.302214  0.496068  0.800079  0.135095  0.821082
32  0.141654  0.052626  0.284275  0.155874  0.279667
33  0.166173  0.982841  0.357110  0.598197  0.868732
34  0.179456  0.391734  0.050600  0.162582  0.910896
35  0.246119  0.327772  0.220467  0.722138  0.995050
36  0.310460  0.523106  0.102542  0.364734  0.535736
37  0.033077  0.823179  0.241520  0.895947  0.566090
38  0.113286  0.229469  0.488199  0.360851  0.618623
39  0.972830  0.235707  0.250158  0.882586  0.916839
40  0.079150  0.593927  0.998277  0.749831  0.098594
41  0.372142  0.458365  0.392548  0.434992  0.044573
42  0.803410  0.335621  0.705292  0.181497  0.160169
43  0.346446  0.949360  0.507790  0.549958  0.397010
44  0.728296  0.035456  0.079377  0.088298  0.666805
45  0.827087  0.986609  0.142381  0.824820  0.090075
46  0.012864  0.102069  0.473752  0.518157  0.968531
47  0.327897  0.816309  0.242299  0.776301  0.042727
48  0.399197  0.578756  0.383701  0.892839  0.825469
49  0.841026  0.345794  0.601225  0.768500  0.254248

In [ ]:
type(newdf)

pandas.core.frame.DataFrame

In [ ]:
newdf.describe()

               0          1          2          3          4
count  50.000000  50.000000  50.000000  50.000000  50.000000
mean    0.419692   0.489350   0.451097   0.481675   0.454710
std     0.280545   0.312206   0.287319   0.289505   0.315771
min     0.012864   0.022698   0.014377   0.023420   0.007342
25%     0.190943   0.225922   0.238680   0.214568   0.168520
50%     0.348090   0.452114   0.393082   0.458187   0.405271
75%     0.638604   0.784059   0.681270   0.763833   0.654759
max     0.972830   0.986609   0.998277   0.993385   0.995050

In [ ]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [ ]:
newdf[0][0] = "vikas"

In [ ]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [ ]:
newdf.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
           dtype='int64')

In [ ]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [ ]:
newdf.to_numpy()

array([['vikas', 0.3492800292984022, 0.32275459635229975,
        0.233318415218018, 0.12213376906149342],
       [0.49978638693108, 0.6926220396975921, 0.5424477172055429,
        0.23661170625647976, 0.34420044726591437],
       [0.26167542920659737, 0.20471626184556146, 0.9887813230430071,
        0.7183965278322063, 0.8911782311823012],
       [0.9294003939117714, 0.302531909765143, 0.6882116392688178,
        0.4813829241940871, 0.9857769386669446],
       [0.6140213287305859, 0.10285855780355257, 0.8567117005774184,
        0.32605499921790104, 0.5989696748974963],
       [0.6361220062396913, 0.1137053103425566, 0.703181560259025,
        0.11044911572856342, 0.18479557858868567],
       [0.32941489997073636, 0.8687579156740065, 0.23773292355443787,
        0.09119352361106403, 0.22621758547345194],
       [0.013131194119707756, 0.1857283273530974, 0.34714179222075825,
        0.5715388893060622, 0.8873007870856597],
       [0.2579447491725354, 0.7606046529986834, 0.9235253927434088,
        0.5118610511438481, 0.18960734750527142],
       [0.8393993889734704, 0.2748048706858185, 0.9146073374767228,
        0.18361546995226208, 0.591766275113594],
       [0.8175225534076315, 0.022698160960371805, 0.30178732369424266,
        0.18391200831462506, 0.4366387323194755],
       [0.9575274845467281, 0.2247391494542309, 0.06601786081184124,
        0.5195957191130726, 0.845674550077389],
       [0.23167047457113765, 0.4520158001719339, 0.12875174450362625,
        0.8885108179065274, 0.18878624618816287],
       [0.42312076021510603, 0.45034729298663656, 0.4746009763398409,
        0.9933854749244585, 0.5116295570300065],
       [0.6603803368047717, 0.9728393428350842, 0.7609680315512378,
        0.31046954869250687, 0.4135317380158151],
       [0.23646472630057414, 0.9517460776212179, 0.5456605937957087,
        0.6055124885682359, 0.6150785026041308],
       [0.6831108746442662, 0.7676869226301131, 0.41462264070236077,
        0.40601424863025193, 0.1409766674202998],
       [0.6394308954187854, 0.6397179394353828, 0.07825958097344332,
        0.3278967524515952, 0.022376775082639577],
       [0.0865935139655607, 0.9819852731448164, 0.6604445712566843,
        0.2686012202808674, 0.14429569797655717],
       [0.5913063693514694, 0.05260845955931903, 0.5750419018928977,
        0.11964001893879528, 0.1630947367188439],
       [0.35897678059349725, 0.07311142820298155, 0.8217624922346375,
        0.23040251487794328, 0.3346741831780241],
       [0.178125710975909, 0.812611674756065, 0.5866510602870244,
        0.1259856347805055, 0.29877332305439697],
       [0.6611421829609281, 0.45726488786653297, 0.9974574781643503,
        0.8267838228839404, 0.991072256181161],
       [0.22540634652360936, 0.43628326552151775, 0.8273107042688068,
        0.8463301270293108, 0.07866041962125536],
       [0.2779797479661966, 0.15398526229950538, 0.014376512966028265,
        0.20929045174835292, 0.5998392105664053],
       [0.5686836600822854, 0.6670996927035195, 0.39361519553970714,
        0.4009312398964625, 0.6007615735552415],
       [0.5726772031484473, 0.7895169229173317, 0.3094491709418823,
        0.8493578372968686, 0.34776207601070863],
       [0.1034158216599722, 0.4522129840632637, 0.13502804920210942,
        0.7189218218522401, 0.06942482771851288],
       [0.05710042514571945, 0.17170867495694864, 0.30793162413399966,
        0.023420155196284043, 0.4683123997477088],
       [0.11848699806294494, 0.9845925247041908, 0.07726309191079106,
        0.7738665927900884, 0.00734160803938233],
       [0.3497335315579896, 0.8323662156925098, 0.231179325573439,
        0.9272917399939746, 0.3739394113325919],
       [0.3022142246004188, 0.49606761276692435, 0.8000794536253364,
        0.1350954061162779, 0.8210823091802048],
       [0.14165400439974685, 0.05262587514517103, 0.28427542531789973,
        0.15587380720741884, 0.2796673217153136],
       [0.1661729881940347, 0.9828412916293909, 0.3571100428465934,
        0.5981965773228679, 0.8687315073968992],
       [0.17945566862191065, 0.3917342986924164, 0.05059994050772898,
        0.16258212360379076, 0.9108959390128207],
       [0.24611852479321716, 0.32777241135552726, 0.22046702722705713,
        0.7221381267432951, 0.9950497454342596],
       [0.3104599391859817, 0.5231062847667398, 0.10254204333459471,
        0.3647341009502332, 0.5357363517347447],
       [0.03307721518870854, 0.8231789888954475, 0.24152012052725036,
        0.8959474281350331, 0.566090423994836],
       [0.11328558043277337, 0.2294685966238772, 0.4881991012661804,
        0.36085149735792366, 0.6186226197269824],
       [0.9728297112705273, 0.2357065918337592, 0.2501584730072738,
        0.8825862861296278, 0.9168392817241979],
       [0.07915046720515528, 0.5939266632112634, 0.998277042733702,
        0.7498312035740876, 0.09859405203834348],
       [0.3721424856492985, 0.4583652060348037, 0.3925480595675864,
        0.4349917330733467, 0.04457319471774457],
       [0.8034098980911168, 0.3356210631001587, 0.7052919159625167,
        0.18149678560765015, 0.1601690664649822],
       [0.34644578699770934, 0.9493596958693881, 0.5077900950601085,
        0.5499579397846376, 0.3970103314770129],
       [0.728296248199798, 0.03545589158738616, 0.07937735456946027,
        0.08829807249444344, 0.6668049863579584],
       [0.8270869899606441, 0.98660899937938, 0.14238127500564535,
        0.8248199312020671, 0.09007513503870146],
       [0.012863755584305192, 0.10206924599829215, 0.4737521876228695,
        0.5181569111541805, 0.9685305105809605],
       [0.32789698743479445, 0.8163087828454346, 0.24229904678340153,
        0.7763010193395503, 0.04272736342382755],
       [0.39919664611159567, 0.5787563411332425, 0.3837008768736231,
        0.8928393376274333, 0.8254691966299885],
       [0.8410263799815288, 0.3457936864738099, 0.6012248463757941,
        0.7685001604723168, 0.25424752534309847]], dtype=object)

In [ ]:
newdf[0][0]= 0.64

In [ ]:
newdf

           0         1         2         3         4
0       0.64  0.349280  0.322755  0.233318  0.122134
1   0.499786  0.692622  0.542448  0.236612  0.344200
2   0.261675  0.204716  0.988781  0.718397  0.891178
3     0.9294  0.302532  0.688212  0.481383  0.985777
4   0.614021  0.102859  0.856712  0.326055  0.598970
5   0.636122  0.113705  0.703182  0.110449  0.184796
6   0.329415  0.868758  0.237733  0.091194  0.226218
7   0.013131  0.185728  0.347142  0.571539  0.887301
8   0.257945  0.760605  0.923525  0.511861  0.189607
9   0.839399  0.274805  0.914607  0.183615  0.591766
10  0.817523  0.022698  0.301787  0.183912  0.436639
11  0.957527  0.224739  0.066018  0.519596  0.845675
12   0.23167  0.452016  0.128752  0.888511  0.188786
13  0.423121  0.450347  0.474601  0.993385  0.511630
14   0.66038  0.972839  0.760968  0.310470  0.413532
15  0.236465  0.951746  0.545661  0.605512  0.615079
16  0.683111  0.767687  0.414623  0.406014  0.140977
17  0.639431  0.639718  0.078260  0.327897  0.022377
18  0.086594  0.981985  0.660445  0.268601  0.144296
19  0.591306  0.052608  0.575042  0.119640  0.163095
20  0.358977  0.073111  0.821762  0.230403  0.334674
21  0.178126  0.812612  0.586651  0.125986  0.298773
22  0.661142  0.457265  0.997457  0.826784  0.991072
23  0.225406  0.436283  0.827311  0.846330  0.078660
24   0.27798  0.153985  0.014377  0.209290  0.599839
25  0.568684  0.667100  0.393615  0.400931  0.600762
26  0.572677  0.789517  0.309449  0.849358  0.347762
27  0.103416  0.452213  0.135028  0.718922  0.069425
28    0.0571  0.171709  0.307932  0.023420  0.468312
29  0.118487  0.984593  0.077263  0.773867  0.007342
30  0.349734  0.832366  0.231179  0.927292  0.373939
31  0.302214  0.496068  0.800079  0.135095  0.821082
32  0.141654  0.052626  0.284275  0.155874  0.279667
33  0.166173  0.982841  0.357110  0.598197  0.868732
34  0.179456  0.391734  0.050600  0.162582  0.910896
35  0.246119  0.327772  0.220467  0.722138  0.995050
36   0.31046  0.523106  0.102542  0.364734  0.535736
37  0.033077  0.823179  0.241520  0.895947  0.566090
38  0.113286  0.229469  0.488199  0.360851  0.618623
39   0.97283  0.235707  0.250158  0.882586  0.916839
40   0.07915  0.593927  0.998277  0.749831  0.098594
41  0.372142  0.458365  0.392548  0.434992  0.044573
42   0.80341  0.335621  0.705292  0.181497  0.160169
43  0.346446  0.949360  0.507790  0.549958  0.397010
44  0.728296  0.035456  0.079377  0.088298  0.666805
45  0.827087  0.986609  0.142381  0.824820  0.090075
46  0.012864  0.102069  0.473752  0.518157  0.968531
47  0.327897  0.816309  0.242299  0.776301  0.042727
48  0.399197  0.578756  0.383701  0.892839  0.825469
49  0.841026  0.345794  0.601225  0.768500  0.254248

**Transpose of DataFrame**

In [ ]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.64,0.499786,0.261675,0.9294,0.614021,0.636122,0.329415,0.013131,0.257945,0.839399,...,0.07915,0.372142,0.80341,0.346446,0.728296,0.827087,0.012864,0.327897,0.399197,0.841026
1,0.34928,0.692622,0.204716,0.302532,0.102859,0.113705,0.868758,0.185728,0.760605,0.274805,...,0.593927,0.458365,0.335621,0.94936,0.035456,0.986609,0.102069,0.816309,0.578756,0.345794
2,0.322755,0.542448,0.988781,0.688212,0.856712,0.703182,0.237733,0.347142,0.923525,0.914607,...,0.998277,0.392548,0.705292,0.50779,0.079377,0.142381,0.473752,0.242299,0.383701,0.601225
3,0.233318,0.236612,0.718397,0.481383,0.326055,0.110449,0.091194,0.571539,0.511861,0.183615,...,0.749831,0.434992,0.181497,0.549958,0.088298,0.82482,0.518157,0.776301,0.892839,0.7685
4,0.122134,0.3442,0.891178,0.985777,0.59897,0.184796,0.226218,0.887301,0.189607,0.591766,...,0.098594,0.044573,0.160169,0.39701,0.666805,0.090075,0.968531,0.042727,0.825469,0.254248

**sorting**

In [ ]:
newdf.sort_index(axis = 0, ascending = False) #axis 1 for column and 0 for row

           0         1         2         3         4
49  0.841026  0.345794  0.601225  0.768500  0.254248
48  0.399197  0.578756  0.383701  0.892839  0.825469
47  0.327897  0.816309  0.242299  0.776301  0.042727
46  0.012864  0.102069  0.473752  0.518157  0.968531
45  0.827087  0.986609  0.142381  0.824820  0.090075
44  0.728296  0.035456  0.079377  0.088298  0.666805
43  0.346446  0.949360  0.507790  0.549958  0.397010
42   0.80341  0.335621  0.705292  0.181497  0.160169
41  0.372142  0.458365  0.392548  0.434992  0.044573
40   0.07915  0.593927  0.998277  0.749831  0.098594
39   0.97283  0.235707  0.250158  0.882586  0.916839
38  0.113286  0.229469  0.488199  0.360851  0.618623
37  0.033077  0.823179  0.241520  0.895947  0.566090
36   0.31046  0.523106  0.102542  0.364734  0.535736
35  0.246119  0.327772  0.220467  0.722138  0.995050
34  0.179456  0.391734  0.050600  0.162582  0.910896
33  0.166173  0.982841  0.357110  0.598197  0.868732
32  0.141654  0.052626  0.284275  0.155874  0.279667
31  0.302214  0.496068  0.800079  0.135095  0.821082
30  0.349734  0.832366  0.231179  0.927292  0.373939
29  0.118487  0.984593  0.077263  0.773867  0.007342
28    0.0571  0.171709  0.307932  0.023420  0.468312
27  0.103416  0.452213  0.135028  0.718922  0.069425
26  0.572677  0.789517  0.309449  0.849358  0.347762
25  0.568684  0.667100  0.393615  0.400931  0.600762
24   0.27798  0.153985  0.014377  0.209290  0.599839
23  0.225406  0.436283  0.827311  0.846330  0.078660
22  0.661142  0.457265  0.997457  0.826784  0.991072
21  0.178126  0.812612  0.586651  0.125986  0.298773
20  0.358977  0.073111  0.821762  0.230403  0.334674
19  0.591306  0.052608  0.575042  0.119640  0.163095
18  0.086594  0.981985  0.660445  0.268601  0.144296
17  0.639431  0.639718  0.078260  0.327897  0.022377
16  0.683111  0.767687  0.414623  0.406014  0.140977
15  0.236465  0.951746  0.545661  0.605512  0.615079
14   0.66038  0.972839  0.760968  0.310470  0.413532
13  0.423121  0.450347  0.474601  0.993385  0.511630
12   0.23167  0.452016  0.128752  0.888511  0.188786
11  0.957527  0.224739  0.066018  0.519596  0.845675
10  0.817523  0.022698  0.301787  0.183912  0.436639
9   0.839399  0.274805  0.914607  0.183615  0.591766
8   0.257945  0.760605  0.923525  0.511861  0.189607
7   0.013131  0.185728  0.347142  0.571539  0.887301
6   0.329415  0.868758  0.237733  0.091194  0.226218
5   0.636122  0.113705  0.703182  0.110449  0.184796
4   0.614021  0.102859  0.856712  0.326055  0.598970
3     0.9294  0.302532  0.688212  0.481383  0.985777
2   0.261675  0.204716  0.988781  0.718397  0.891178
1   0.499786  0.692622  0.542448  0.236612  0.344200
0       0.64  0.349280  0.322755  0.233318  0.122134

In [ ]:
type(newdf[0])

pandas.core.series.Series

In [ ]:
newdf2 = newdf # if newdf2 change then it will reflect also in newdf

In [ ]:
newdf2[0][0] = 9734

<ipython-input-97-1c20722ab164>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf2[0][0] = 9734

In [ ]:
newdf

           0         1         2         3         4
0       9734  0.349280  0.322755  0.233318  0.122134
1   0.499786  0.692622  0.542448  0.236612  0.344200
2   0.261675  0.204716  0.988781  0.718397  0.891178
3     0.9294  0.302532  0.688212  0.481383  0.985777
4   0.614021  0.102859  0.856712  0.326055  0.598970
5   0.636122  0.113705  0.703182  0.110449  0.184796
6   0.329415  0.868758  0.237733  0.091194  0.226218
7   0.013131  0.185728  0.347142  0.571539  0.887301
8   0.257945  0.760605  0.923525  0.511861  0.189607
9   0.839399  0.274805  0.914607  0.183615  0.591766
10  0.817523  0.022698  0.301787  0.183912  0.436639
11  0.957527  0.224739  0.066018  0.519596  0.845675
12   0.23167  0.452016  0.128752  0.888511  0.188786
13  0.423121  0.450347  0.474601  0.993385  0.511630
14   0.66038  0.972839  0.760968  0.310470  0.413532
15  0.236465  0.951746  0.545661  0.605512  0.615079
16  0.683111  0.767687  0.414623  0.406014  0.140977
17  0.639431  0.639718  0.078260  0.327897  0.022377
18  0.086594  0.981985  0.660445  0.268601  0.144296
19  0.591306  0.052608  0.575042  0.119640  0.163095
20  0.358977  0.073111  0.821762  0.230403  0.334674
21  0.178126  0.812612  0.586651  0.125986  0.298773
22  0.661142  0.457265  0.997457  0.826784  0.991072
23  0.225406  0.436283  0.827311  0.846330  0.078660
24   0.27798  0.153985  0.014377  0.209290  0.599839
25  0.568684  0.667100  0.393615  0.400931  0.600762
26  0.572677  0.789517  0.309449  0.849358  0.347762
27  0.103416  0.452213  0.135028  0.718922  0.069425
28    0.0571  0.171709  0.307932  0.023420  0.468312
29  0.118487  0.984593  0.077263  0.773867  0.007342
30  0.349734  0.832366  0.231179  0.927292  0.373939
31  0.302214  0.496068  0.800079  0.135095  0.821082
32  0.141654  0.052626  0.284275  0.155874  0.279667
33  0.166173  0.982841  0.357110  0.598197  0.868732
34  0.179456  0.391734  0.050600  0.162582  0.910896
35  0.246119  0.327772  0.220467  0.722138  0.995050
36   0.31046  0.523106  0.102542  0.364734  0.535736
37  0.033077  0.823179  0.241520  0.895947  0.566090
38  0.113286  0.229469  0.488199  0.360851  0.618623
39   0.97283  0.235707  0.250158  0.882586  0.916839
40   0.07915  0.593927  0.998277  0.749831  0.098594
41  0.372142  0.458365  0.392548  0.434992  0.044573
42   0.80341  0.335621  0.705292  0.181497  0.160169
43  0.346446  0.949360  0.507790  0.549958  0.397010
44  0.728296  0.035456  0.079377  0.088298  0.666805
45  0.827087  0.986609  0.142381  0.824820  0.090075
46  0.012864  0.102069  0.473752  0.518157  0.968531
47  0.327897  0.816309  0.242299  0.776301  0.042727
48  0.399197  0.578756  0.383701  0.892839  0.825469
49  0.841026  0.345794  0.601225  0.768500  0.254248

In [ ]:
#for Avoiding such situation use .copy() 
# it creats copy
newdf2 = newdf.copy()

In [ ]:
newdf.loc[0,0] = 123

In [ ]:
newdf.head(2)

          0         1         2         3         4
0       123  0.349280  0.322755  0.233318  0.122134
1  0.499786  0.692622  0.542448  0.236612  0.344200

In [ ]:
newdf.columns = list("ABCDE")

In [ ]:
newdf.head(4)

          A         B         C         D         E
0       123  0.349280  0.322755  0.233318  0.122134
1  0.499786  0.692622  0.542448  0.236612  0.344200
2  0.261675  0.204716  0.988781  0.718397  0.891178
3    0.9294  0.302532  0.688212  0.481383  0.985777

In [ ]:
newdf.loc[0,'A'] = 321

In [ ]:
newdf.head(4)

          A         B         C         D         E
0       321  0.349280  0.322755  0.233318  0.122134
1  0.499786  0.692622  0.542448  0.236612  0.344200
2  0.261675  0.204716  0.988781  0.718397  0.891178
3    0.9294  0.302532  0.688212  0.481383  0.985777

In [ ]:
newdf = newdf.drop("A", axis = 1)

In [ ]:
newdf

           B         C         D         E
0   0.349280  0.322755  0.233318  0.122134
1   0.692622  0.542448  0.236612  0.344200
2   0.204716  0.988781  0.718397  0.891178
3   0.302532  0.688212  0.481383  0.985777
4   0.102859  0.856712  0.326055  0.598970
5   0.113705  0.703182  0.110449  0.184796
6   0.868758  0.237733  0.091194  0.226218
7   0.185728  0.347142  0.571539  0.887301
8   0.760605  0.923525  0.511861  0.189607
9   0.274805  0.914607  0.183615  0.591766
10  0.022698  0.301787  0.183912  0.436639
11  0.224739  0.066018  0.519596  0.845675
12  0.452016  0.128752  0.888511  0.188786
13  0.450347  0.474601  0.993385  0.511630
14  0.972839  0.760968  0.310470  0.413532
15  0.951746  0.545661  0.605512  0.615079
16  0.767687  0.414623  0.406014  0.140977
17  0.639718  0.078260  0.327897  0.022377
18  0.981985  0.660445  0.268601  0.144296
19  0.052608  0.575042  0.119640  0.163095
20  0.073111  0.821762  0.230403  0.334674
21  0.812612  0.586651  0.125986  0.298773
22  0.457265  0.997457  0.826784  0.991072
23  0.436283  0.827311  0.846330  0.078660
24  0.153985  0.014377  0.209290  0.599839
25  0.667100  0.393615  0.400931  0.600762
26  0.789517  0.309449  0.849358  0.347762
27  0.452213  0.135028  0.718922  0.069425
28  0.171709  0.307932  0.023420  0.468312
29  0.984593  0.077263  0.773867  0.007342
30  0.832366  0.231179  0.927292  0.373939
31  0.496068  0.800079  0.135095  0.821082
32  0.052626  0.284275  0.155874  0.279667
33  0.982841  0.357110  0.598197  0.868732
34  0.391734  0.050600  0.162582  0.910896
35  0.327772  0.220467  0.722138  0.995050
36  0.523106  0.102542  0.364734  0.535736
37  0.823179  0.241520  0.895947  0.566090
38  0.229469  0.488199  0.360851  0.618623
39  0.235707  0.250158  0.882586  0.916839
40  0.593927  0.998277  0.749831  0.098594
41  0.458365  0.392548  0.434992  0.044573
42  0.335621  0.705292  0.181497  0.160169
43  0.949360  0.507790  0.549958  0.397010
44  0.035456  0.079377  0.088298  0.666805
45  0.986609  0.142381  0.824820  0.090075
46  0.102069  0.473752  0.518157  0.968531
47  0.816309  0.242299  0.776301  0.042727
48  0.578756  0.383701  0.892839  0.825469
49  0.345794  0.601225  0.768500  0.254248

In [ ]:
newdf.loc[[1,2], ['C', 'D']]

          C         D
1  0.542448  0.236612
2  0.988781  0.718397

In [ ]:
newdf.loc[[1,2], :]

          B         C         D         E
1  0.692622  0.542448  0.236612  0.344200
2  0.204716  0.988781  0.718397  0.891178

In [ ]:
newdf.loc[:, ['C', 'D']]

In [ ]:
newdf.loc[(newdf['B'] > 0.3) & (newdf['C'] > 0.4)]

           B         C         D         E
1   0.692622  0.542448  0.236612  0.344200
3   0.302532  0.688212  0.481383  0.985777
8   0.760605  0.923525  0.511861  0.189607
13  0.450347  0.474601  0.993385  0.511630
14  0.972839  0.760968  0.310470  0.413532
15  0.951746  0.545661  0.605512  0.615079
16  0.767687  0.414623  0.406014  0.140977
18  0.981985  0.660445  0.268601  0.144296
21  0.812612  0.586651  0.125986  0.298773
22  0.457265  0.997457  0.826784  0.991072
23  0.436283  0.827311  0.846330  0.078660
31  0.496068  0.800079  0.135095  0.821082
40  0.593927  0.998277  0.749831  0.098594
42  0.335621  0.705292  0.181497  0.160169
43  0.949360  0.507790  0.549958  0.397010
49  0.345794  0.601225  0.768500  0.254248

In [ ]:
newdf.iloc[2, 3]

0.8911782311823012

In [ ]:
newdf.head(5)

          B         C         D         E
0  0.349280  0.322755  0.233318  0.122134
1  0.692622  0.542448  0.236612  0.344200
2  0.204716  0.988781  0.718397  0.891178
3  0.302532  0.688212  0.481383  0.985777
4  0.102859  0.856712  0.326055  0.598970

In [ ]:
newdf.iloc[[2, 4], [1,3]]

          C         E
2  0.988781  0.891178
4  0.856712  0.598970

In [ ]:
newdf.head(5)

          B         C         D         E
0  0.349280  0.322755  0.233318  0.122134
1  0.692622  0.542448  0.236612  0.344200
2  0.204716  0.988781  0.718397  0.891178
3  0.302532  0.688212  0.481383  0.985777
4  0.102859  0.856712  0.326055  0.598970

In [ ]:
newdf.drop(['C'], axis = 1) # for droping column

           B         D         E
0   0.349280  0.233318  0.122134
1   0.692622  0.236612  0.344200
2   0.204716  0.718397  0.891178
3   0.302532  0.481383  0.985777
4   0.102859  0.326055  0.598970
5   0.113705  0.110449  0.184796
6   0.868758  0.091194  0.226218
7   0.185728  0.571539  0.887301
8   0.760605  0.511861  0.189607
9   0.274805  0.183615  0.591766
10  0.022698  0.183912  0.436639
11  0.224739  0.519596  0.845675
12  0.452016  0.888511  0.188786
13  0.450347  0.993385  0.511630
14  0.972839  0.310470  0.413532
15  0.951746  0.605512  0.615079
16  0.767687  0.406014  0.140977
17  0.639718  0.327897  0.022377
18  0.981985  0.268601  0.144296
19  0.052608  0.119640  0.163095
20  0.073111  0.230403  0.334674
21  0.812612  0.125986  0.298773
22  0.457265  0.826784  0.991072
23  0.436283  0.846330  0.078660
24  0.153985  0.209290  0.599839
25  0.667100  0.400931  0.600762
26  0.789517  0.849358  0.347762
27  0.452213  0.718922  0.069425
28  0.171709  0.023420  0.468312
29  0.984593  0.773867  0.007342
30  0.832366  0.927292  0.373939
31  0.496068  0.135095  0.821082
32  0.052626  0.155874  0.279667
33  0.982841  0.598197  0.868732
34  0.391734  0.162582  0.910896
35  0.327772  0.722138  0.995050
36  0.523106  0.364734  0.535736
37  0.823179  0.895947  0.566090
38  0.229469  0.360851  0.618623
39  0.235707  0.882586  0.916839
40  0.593927  0.749831  0.098594
41  0.458365  0.434992  0.044573
42  0.335621  0.181497  0.160169
43  0.949360  0.549958  0.397010
44  0.035456  0.088298  0.666805
45  0.986609  0.824820  0.090075
46  0.102069  0.518157  0.968531
47  0.816309  0.776301  0.042727
48  0.578756  0.892839  0.825469
49  0.345794  0.768500  0.254248

In [ ]:
newdf.drop([2]) # for droping row 
# inplace= true will save in newdf

           B         C         D         E
0   0.349280  0.322755  0.233318  0.122134
1   0.692622  0.542448  0.236612  0.344200
3   0.302532  0.688212  0.481383  0.985777
4   0.102859  0.856712  0.326055  0.598970
5   0.113705  0.703182  0.110449  0.184796
6   0.868758  0.237733  0.091194  0.226218
7   0.185728  0.347142  0.571539  0.887301
8   0.760605  0.923525  0.511861  0.189607
9   0.274805  0.914607  0.183615  0.591766
10  0.022698  0.301787  0.183912  0.436639
11  0.224739  0.066018  0.519596  0.845675
12  0.452016  0.128752  0.888511  0.188786
13  0.450347  0.474601  0.993385  0.511630
14  0.972839  0.760968  0.310470  0.413532
15  0.951746  0.545661  0.605512  0.615079
16  0.767687  0.414623  0.406014  0.140977
17  0.639718  0.078260  0.327897  0.022377
18  0.981985  0.660445  0.268601  0.144296
19  0.052608  0.575042  0.119640  0.163095
20  0.073111  0.821762  0.230403  0.334674
21  0.812612  0.586651  0.125986  0.298773
22  0.457265  0.997457  0.826784  0.991072
23  0.436283  0.827311  0.846330  0.078660
24  0.153985  0.014377  0.209290  0.599839
25  0.667100  0.393615  0.400931  0.600762
26  0.789517  0.309449  0.849358  0.347762
27  0.452213  0.135028  0.718922  0.069425
28  0.171709  0.307932  0.023420  0.468312
29  0.984593  0.077263  0.773867  0.007342
30  0.832366  0.231179  0.927292  0.373939
31  0.496068  0.800079  0.135095  0.821082
32  0.052626  0.284275  0.155874  0.279667
33  0.982841  0.357110  0.598197  0.868732
34  0.391734  0.050600  0.162582  0.910896
35  0.327772  0.220467  0.722138  0.995050
36  0.523106  0.102542  0.364734  0.535736
37  0.823179  0.241520  0.895947  0.566090
38  0.229469  0.488199  0.360851  0.618623
39  0.235707  0.250158  0.882586  0.916839
40  0.593927  0.998277  0.749831  0.098594
41  0.458365  0.392548  0.434992  0.044573
42  0.335621  0.705292  0.181497  0.160169
43  0.949360  0.507790  0.549958  0.397010
44  0.035456  0.079377  0.088298  0.666805
45  0.986609  0.142381  0.824820  0.090075
46  0.102069  0.473752  0.518157  0.968531
47  0.816309  0.242299  0.776301  0.042727
48  0.578756  0.383701  0.892839  0.825469
49  0.345794  0.601225  0.768500  0.254248

In [ ]:
newdf.reset_index(drop =True, inplace=True)

In [ ]:
newdf.head(4)

          B         C         D         E
0  0.349280  0.322755  0.233318  0.122134
1  0.692622  0.542448  0.236612  0.344200
2  0.204716  0.988781  0.718397  0.891178
3  0.302532  0.688212  0.481383  0.985777

In [ ]:
newdf['B'].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: B, dtype: bool

In [ ]:
newdf['B'] =None
#newdf.loc[:, ['B']] = None

In [ ]:
newdf

       B         C         D         E
0   None  0.322755  0.233318  0.122134
1   None  0.542448  0.236612  0.344200
2   None  0.988781  0.718397  0.891178
3   None  0.688212  0.481383  0.985777
4   None  0.856712  0.326055  0.598970
5   None  0.703182  0.110449  0.184796
6   None  0.237733  0.091194  0.226218
7   None  0.347142  0.571539  0.887301
8   None  0.923525  0.511861  0.189607
9   None  0.914607  0.183615  0.591766
10  None  0.301787  0.183912  0.436639
11  None  0.066018  0.519596  0.845675
12  None  0.128752  0.888511  0.188786
13  None  0.474601  0.993385  0.511630
14  None  0.760968  0.310470  0.413532
15  None  0.545661  0.605512  0.615079
16  None  0.414623  0.406014  0.140977
17  None  0.078260  0.327897  0.022377
18  None  0.660445  0.268601  0.144296
19  None  0.575042  0.119640  0.163095
20  None  0.821762  0.230403  0.334674
21  None  0.586651  0.125986  0.298773
22  None  0.997457  0.826784  0.991072
23  None  0.827311  0.846330  0.078660
24  None  0.014377  0.209290  0.599839
25  None  0.393615  0.400931  0.600762
26  None  0.309449  0.849358  0.347762
27  None  0.135028  0.718922  0.069425
28  None  0.307932  0.023420  0.468312
29  None  0.077263  0.773867  0.007342
30  None  0.231179  0.927292  0.373939
31  None  0.800079  0.135095  0.821082
32  None  0.284275  0.155874  0.279667
33  None  0.357110  0.598197  0.868732
34  None  0.050600  0.162582  0.910896
35  None  0.220467  0.722138  0.995050
36  None  0.102542  0.364734  0.535736
37  None  0.241520  0.895947  0.566090
38  None  0.488199  0.360851  0.618623
39  None  0.250158  0.882586  0.916839
40  None  0.998277  0.749831  0.098594
41  None  0.392548  0.434992  0.044573
42  None  0.705292  0.181497  0.160169
43  None  0.507790  0.549958  0.397010
44  None  0.079377  0.088298  0.666805
45  None  0.142381  0.824820  0.090075
46  None  0.473752  0.518157  0.968531
47  None  0.242299  0.776301  0.042727
48  None  0.383701  0.892839  0.825469
49  None  0.601225  0.768500  0.254248

In [ ]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwomen'],
                   "toy": [np.nan, 'Batmobil', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"), pd.NaT]})

In [ ]:
df

       name       toy       born
0    Alfred       NaN        NaT
1    Batman  Batmobil 1940-04-25
2  Catwomen  Bullwhip        NaT

In [ ]:
df.dropna(how = 'all')

       name       toy       born
0    Alfred       NaN        NaT
1    Batman  Batmobil 1940-04-25
2  Catwomen  Bullwhip        NaT

In [ ]:
df2 = pd.DataFrame({"name": ['Alfred', 'Batman', 'Alfred'],
                   "toy": [np.nan, 'Batmobil', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"), pd.NaT]})

In [ ]:
df2.drop_duplicates(subset=['name'], keep = 'last') # keep last record

     name       toy       born
1  Batman  Batmobil 1940-04-25
2  Alfred  Bullwhip        NaT

In [ ]:
df.shape

(3, 3)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   toy     2 non-null      object
 2   born    1 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 200.0+ bytes

In [ ]:
df2['toy'].value_counts(dropna=True)

Batmobil    1
Bullwhip    1
Name: toy, dtype: int64

In [ ]:
df2.isnull()

    name    toy   born
0  False   True   True
1  False  False  False
2  False  False   True

In [ ]:
#create dataframe which contains only integers with 3 rows and 2 columns
#run following
df.describe()
df.mean()
df.corr()
df.count()
df.max()
df.min()
df.median()
df.std()

In [ ]:
pip install xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.9/dist-packages (2.0.1)

In [ ]:
#data = pd.read_excel('/content/vikas.csv')